section#main
	float right
	width 76%
	.flex-container
		display -ms-flexbox
		display -webkit-flex
		display flex
		-webkit-flex-wrap wrap
		width 100%
		.flex-item
			width 33%
			.square
				background #d8d8d8
				height 150px
				width 150px
				p.main,p.no-main
					line-height 150px
					text-align center
				p.main
					font-size 12px
				p.no-main
					font-size 10px